/* style */
body {
    background-color: #f0f2f2;
}

.navbar-custom {
    background-color: rgb(0, 0, 0, .8);
}

.nav-item:hover {
    border-bottom: 2px solid gold;
}

.img {
    border-top: 5px solid salmon;
    border-bottom: 5px solid skyblue ;
    height: 80vh;
}