@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* style */
body {
    background-color: #eaeaea;
    font-family: 'Poppins', sans-serif;
}

/* navbar */
nav li {
    border: 2px solid transparent;
}
.nav-item:hover {
    border-bottom: 2px solid gold;

}

.img {
    border-right: 1px solid #f0f2f2;
}

.button {
    border: 1px solid white;
}

.nav-fixed {
    transition: 0.3s ease-in-out;
    background-color: #000;
}

/* Contact */
#contact {
    margin-top: 3000px;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    height: 60px;
    overflow: hidden;
}

footer h4:hover {
    background-color: blue;
    border-radius: 50px;
}

/* responsive */

@media (max-width: 576px) {

    /* Footer */
    footer {
        font-size: 15px;
        height: 45px;
    }
    footer h4 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    /* nav */
    nav .btn-outline-success {
        margin-top: 7px;
    }
    nav ul {
        padding-bottom: 5px;
    }

    /* Footer */
    footer {
        font-size: 10px;
        height: 45px;
    }

    footer h4 {
        font-size: 15px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}