@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* style */
body {
    background-color: #f0f2f2;
    font-family: 'Poppins', sans-serif;
}

/* navbar */
nav li {
    border: 2px solid transparent;
}
.nav-item:hover {
    border-bottom: 2px solid gold;

}

.img {
    border-right: 1px solid #f0f2f2;
}

.navbar-custom {
    background-color: transparent;
}

.nav-fixed {
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

/* Hero */
.heroContent {
    height: 100vh;
    background-color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroContent .textBox {
    position: relative;
    max-width: 600px;
}

.textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4rem;
    font-weight: 500;
}



/* Footer */
footer {
    background-color: #000;
    color: #fff;
    height: 60px;
    overflow: hidden;
}

footer h4:hover {
    background-color: blue;
    border-radius: 50px;
}

/* responsive */
@media (max-width: 576px) {

    /* Footer */
    footer {
        font-size: 15px;
        height: 45px;
    }
    footer h4 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    /* nav */
    nav .btn-outline-warninsg {
        margin-top: 7px;
    }
    nav ul {
        padding-bottom: 5px;
    }

    /* Footer */
    footer {
        font-size: 10px;
        height: 45px;
    }

    footer h4 {
        font-size: 15px;
    }
}